<html>
<head>
<title>addbook</title>
</head>
<body>
    <form action="/addbook/" method="post">
    <table border=1 align="center" >
         <tr>
          <th>Title</th><th>Author</th><th>Publisher</th><th>PublishDate</th><th>Price</th>
         </tr>
            <tr>
                <td><input type="text" name="title"></td>
                <td><input type="text" name="name"></td>
                <td><input type="text" name="publisher"></td>
                <td><input type="date" name="publishdate"></td>
                <td><input type="text" name="price"></td>
            </tr>
            <table border=1 align="center" style="color: green">
            <tr>
                <th>
                <form action="" method="post"><input type="submit" value="Add"></form>
                </th>
            </tr>
            </table>
    </table>
    </form>
    <p align="center" style="color: blank"><a id="k1" href="/home/">return home</a></p>
</body>
</html>